body {
  background-color: black;
}

h1 {
  color: #d169a5;
  font-size: 90px;
  padding-top: 35px;
}
h2,
p {
  color: white;
}
h2 {
  padding-top: 150px;
}
img {
  max-width: 500px;
  display: block;
  margin: auto;
}
footer {
  color: #767676;
  text-align: center;
}

a:hover {
  color: #d169a5 !important;
}
.hero {
  text-align: center;
}
.navbar-brand {
  color: #d169a5 !important;
}
.host-link {
  text-decoration: none;
  color: #767676;
}
.construction {
  text-align: center;
  padding-top: 150px;
}
