body {
  background-color: black;
}

h1 {
  color: var(--primary-color);
  font-size: 90px;
  padding-top: 35px;
}
h2,
p {
  color: white;
}
h2 {
  padding-top: 100px;
}

footer {
  color: var(--secondary-color);
  text-align: center;
}

a:hover {
  color: #d169a5 !important;
}
.hero {
  text-align: center;
}
.navbar-brand {
  color: #d169a5 !important;
}
.host-link {
  text-decoration: none;
  color: var(--secondary-color);
}
.construction {
  text-align: center;
  padding: 200px;
  background-color: var(--secondary-color);
}

.img-fluid {
  max-width: 500px;
  display: block;
  margin: auto;
}
:root {
  --primary-color: #d169a5;
  --secondary-color: #767676;
}

.project-link {
  color: var(--secondary-color);
  text-decoration: none;
}

.project-title h2 {
  color: var(--primary-color);
}
